/* Nav Bar */
* {
  margin: 0 auto;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 119, 5);
  color: #fff;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
}


.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-item {
  margin-left: 20px; /* Adjust the spacing between navbar items */
}

.request-quote {
  background-color: whitesmoke; /* Set background color */
  color: black; /* Set text color */
  padding: 10px 20px; /* Set padding */
  border-radius: 5px; /* Add border radius */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease; /* Add transition effect */
}

.request-quote:hover {
  background-color: #FFA500; /* Change background color on hover */
}

.navbar-item:last-child {
  margin-right: 20px; /* Adjust spacing for the last navbar item */
}


/* Home.css */

/* Container for the entire home section */
.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image container */
.image-container {
  position: relative;
  width: 100%;
  max-height: 400px; /* Limit the maximum height of the image */
  overflow: hidden;
}

/* Image */
.home-image {
  width: 100%;
  height: auto;
}

/* Slogan container */
.slogan-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Slogan text */
.slogan-text {
  font-size: 2.5rem;
  color: rgb(249, 119, 5);
}

/* Quote form container */
.quote-form-container {
  position: absolute;
  width: 50%;
  top: 20%; /* Adjust top position to move the form down */
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Quote card */
.quote-card {
  width: 100%;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Quote heading */
.quote-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

/* Form row */
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Input fields */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.5em auto;
  padding-right: 2.5em;
}

/* Button */
.quote-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quote-button:hover {
  background-color: #0056b3;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .quote-card {
    padding: 20px;
  }
}

/* Moving Guarantee */

/* Company Section */
.company-section {
  display: flex;
  margin-top: 300px;
  margin-right: 200px;
}

/* Company Info */
.company-info {
  flex: 1;
  max-width: 500px;
  margin-right: 10px; /* Add some space between company info and photo grid */
  margin-top: 100px;
}

.company-info h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.company-info p {
  font-size: 20px;
  line-height: 1.5;
}

/* Photo Grid */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 400px; /* Adjust width of photo grid */

}

.photo-grid img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}



/* Services Section */
.services-section {
  display: flex;
  justify-content: space-between; /* Distribute items along the main axis with equal space between them */
  margin-top: 50px;
  background-color: rgb(232, 141, 56);
  padding: 20px;
}

.service-card {
  width: 400px; /* Set a fixed width for each card */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  background-color: white;
}

.service-card img {
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: 260px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1.2rem;
  color: #333;
  text-align: center; /* Center the text */
}

.services-cards{
  margin-bottom: 10px;
}

/* Coverage Section Styles */
/* Locations We Serve Section */
.coverage-section {
  background-size: cover;
  background-position: center;
  padding: 50px;
  text-align: center;
  height: 300px;
}

.coverages-section {
  background-size: cover;
  background-position: center;
  padding: 50px;
  text-align: center;
  height: 650px;
}

.coverage-heading {
  font-size: 2rem;
  margin-bottom: 30px;
}

.city-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.city-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.city-card h3 {
  margin: 0;
  font-size: 1.2rem;
}



.service-container {
  text-align: center;
  margin-top: 50px;
}

.service-heading {
  font-size: 36px;
  margin-bottom: 20px;
}

.service-subheading {
  font-size: 24px;
  margin-bottom: 30px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-gap: 20px; /* Gap between cards */
}

.services-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 400px;
  width: 300px;
}

.services-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.services-title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.services-description {
  font-size: 16px;
  color: #333;
}


/* Contact Us */

.contact-container {
  position: relative;
  text-align: center;
}

.contactinfo-container {
  display: inline-flex;
}

.contact-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: -1;
}
.contact-content {
  padding-top: 200px; /* Adjust as needed */
}

.contact-header {
  text-align: center;
  margin-top: 250px;
}

.contact-form-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}

.contact-form {
  padding: 20px;
}

.contact-info {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.contact-info h2 {
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 5px;
  font-size: 30px;
}

.contact-info strong {
  font-weight: bold;
}


/* about us */


/* About.css */
.abouts-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align content horizontally */
}

.images-container {
  width: 100%;
}

.abouts-image {
  width: 100%;
  max-width: 100vw;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.contents-container {
  display: flex;
  justify-content: center; /* Center align content horizontally */
  align-items: flex-start;
  margin-top: 20px;
  max-width: 800px;
}

.abouts-info {
  margin-right: 20px;
  width: 50%; /* Adjusted width */
}

.abouts-info h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: xx-large;
}

.abouts-info p {
  font-size: x-large;
}

.aboutform-container {
  width: 40%; /* Adjusted width */
  margin-top: 100px;
}


/* About.css */

.customer-reviews {
  margin-top: 40px;
}

.reviews-heading {
  text-align: center;
  margin-bottom: 20px;
}

.review-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-column {
  flex: 0 1 calc(33.33% - 20px); /* Adjust width as needed */
  margin-bottom: 20px;
}

.review-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin: 10px;
}

.review-card h3 {
  margin-bottom: 10px;
}

.review-card p {
  font-size: 16px;
  line-height: 1.5;
}




/* Footer.css */

/* Footer container */
.footer-container {
  background-color: rgb(249, 119, 5);
  color: #fff;
  padding: 20px 10px;
  align-items: center;
}

/* Footer top */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Footer column */
.footer-column {
  flex: 1;
  margin-right: 10px;
  margin-left: 100px;
}

/* Footer column h4 */
.footer-column h4 {
  margin-bottom: 10px;
  font-size: x-large;
}

/* Footer column ul */
.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Footer column li */
.footer-column li {
  margin-bottom: 5px;
}

/* Footer bottom */
.footer-bottom {
  margin-top: 10px;
  text-align: center;
}
